<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="visitameLog4jConfig" status="WARN" packages="pe.com.bbva.visitame"><!-- strict="true" monitorInterval="30" -->
    <Properties>
    	<Property name="patternCharset">UTF-8</Property>
    	<Property name="logDir">/opt/jboss/aplicativos/log/visitame/</Property>
    </Properties>
	<Appenders>
		<Console name="consola" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
		</Console>
		
		<RollingFile name="visitameAppender"
			fileName="${logDir}visitame-rest.log"
			filePattern="${logDir}visitame-rest-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		
		<RollingFile name="jdbcAppender"
			fileName="${logDir}visitame-jdbc-rest.log"
			filePattern="${logDir}visitame-jdbc-rest-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="log4jdbc.log4j2" level="info" includeLocation="false" additivity="false">
        	<MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY" onMismatch="NEUTRAL"/>
			<appender-ref ref="consola"/> 
			<appender-ref ref="jdbcAppender"/>
		</logger>
		<AsyncRoot level="error" 
				   includeLocation="false" 
				   additivity="false">
				   <AppenderRef ref="visitameAppender"/>
		</AsyncRoot>
	</Loggers>
</Configuration>