<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="visitameLog4jConfig" status="WARN"
	packages="pe.com.bbva.visitame"><!-- strict="true" monitorInterval="30" -->
	<Appenders>
		<RollingFile name="visitameAppender"
			fileName="/opt/jboss/aplicativos/log/visitame/visitame-rest.log"
			filePattern="/opt/jboss/aplicativos/log/visitame/visitame-rest-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="consola" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
		</Console>
		<RollingFile name="jdbcAppender"
			fileName="/opt/jboss/aplicativos/log/visitame/visitame-jdbc-rest.log"
			filePattern="/opt/jboss/aplicativos/log/visitame/visitame-jdbc-rest-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="pe.com.bbva.visitame" level="info"
			includeLocation="true" additivity="false">
			<AppenderRef ref="visitameAppender" />
		</AsyncLogger>
		<logger name="log4jdbc.log4j2"  level="info" includeLocation="false"
			additivity="false">
			<MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY"
				onMismatch="NEUTRAL" />
			<appender-ref ref="consola" />
			<appender-ref ref="jdbcAppender" />
		</logger>

		<AsyncRoot level="error" includeLocation="false" additivity="false">
			<AppenderRef ref="visitameAppender" />
		</AsyncRoot>
		
	</Loggers>
</Configuration>